<div class="container" (click)="click()">

    <button mat-icon-button [matMenuTriggerFor]="appMenu" (click)="$event.stopPropagation()">
        <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #appMenu="matMenu">
        <button mat-menu-item (click)="bookmark()"><mat-icon>bookmark_border</mat-icon>Read later</button>
        <button mat-menu-item (click)="notInterested()"><mat-icon>not_interested</mat-icon>Not interested</button>
    </mat-menu>

    <h4>{{newsDto.title}}</h4>

    <img alt="" src="{{newsDto.img}}" />
    <p>{{newsDto.summary}}</p>

</div>