.container {
    padding: 48px 0 0;
    position: relative;
}

.container .news-items-list{ 
    padding: 8px 15px;
}

.container mat-tab-group {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background: white;
}

.container mat-tab-group h4 {
    margin-top: 40px;
    text-align: center;
}